html{

}
body {
  height: 100%;
  min-width: 320px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  border: none !important;
  outline: none !important;
  color: #fafafa !important;
  border-bottom: 2px;
  border-color: #000;
}

.top-daikin {
  font-style: italic;
  color: #1c75bb;
}

.daikin-white,
.daikin-dark {
  text-align: center;
  h2 {
    margin: 0;
    padding-top: 60px;
    color: #1c75bb;
    font-style: italic;
    font-size: 40px;
  }

  p {
    font-size: 20px;
    font-family: "Open Sans Regular", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

}

.daikin-dark {
  p {
    color: #333333;
  }
}

.form-text {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Regular", sans-serif;

  b {
    font-size: 26px;
    color: #ffffff;
  }

  h2 {
    font-size: 40px;
    color: #084366;
  }

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*TOP_MENU BEGIN*/

.navbar-fixed-top {
  border: none;
}

.navbar {
  border: none;
  min-height: 48px;
}

.bg-top {
  background-color: #f7f7f7;
  box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.5);
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 15px 12px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: #37ace5 !important;
  border: none;
  border-radius: 50%;
}

.navbar-toggle:hover {
  background-color: #1c75bb !important;
}

.top-menu li {
  margin: 0;
}

.top-nav a {
  text-transform: uppercase;
  color: #423e3e !important;
  padding: 14px !important;
}

.top-nav li.active a,
.top-nav li.active,
.top-nav li a:hover {
  color: #fff !important;
  background: #1E88E5 !important;
  box-shadow: inset 0 -4px 0 0 #1c75bb !important;
  transition: all 0.3s;
}

/*TOP_MENU END*/

/*TOP_LOGO BEGIN*/

.top-logo {

  margin-top: 90px;
  margin-bottom: 40px;

  ul {

   @extend .flex-row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    li {
      padding: 0;
    }

  }

}


.slogan {
  font-family: "Open Sans Light", sans-serif;
  font-style: italic;
  color: #1f1a17;
  font-size: 22px !important;
}

.slogan span {
  color: #0282ce;
}

.top-contact {
  text-align: right;
}

.top-phone {

  font-size: 30px;
  color: #1f1a17;

  span {
    font-style: italic;
    font-weight: bold;
    color: #32b0eb;
  }

}

.top-email {

  color: #31b0eb;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  color: #fafafa;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #32b0eb;
  border-radius: 5px;
  padding: 13px 40px;
}

.btn:hover {
  transition: all 0.5s linear;
  background-color: #3d8aeb;
  color: #fafafa;
}


/*=========Modal window begin=========*/

#myModal{

  .modal-header{
    background-color: #32b0eb;
  }

  .modal-name{
    margin-bottom: 20px;
  }

  .modal-h4{
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF !important;
    font-weight: 800;

  }

  label{
    display: block;
    font-family:"Open Sans Light",sans-serif;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
  }

  input{
    max-width:100%;
    padding: 5px 20px;
    font-family:"Open Sans Light",sans-serif;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: 1px solid #cecece;
    background-color: #FFFFFF;
    border-radius: 8px;
   color: #004481 !important;


    ::-webkit-input-placeholder {
      color: #004481;
    }
    ::-moz-placeholder {
      color: #004481;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
      color: #004481;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
      color: #004481;
    }

  }

  input:focus{
    border: 1px solid #004481;
  }




}







/*=========Modal window end===========*/

/*TOP_LOGO END*/

/*BG-H-TOP BEGIN*/

.bg-h-top {
  background: #1a586c url(../img/top-header.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.top-name {
  text-align: right;
  padding: 100px 0;
  margin-right: 40px;

  h1 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;

    a {
      font-family: "Open Sans Regular", sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 40px;
      color: #0181cf;
      text-decoration: none;

    }

  }

}

/*BG-H-TOP END*/

/*TOP FORM BEGIN*/

.bg-top-stock {
  background: #0e1015 url(../img/bg-top-form-1.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.stock-wrapper {
  padding: 20px 0;
}

.top-stock {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  border-radius: 25px;
  background-color: rgba(5, 16, 21, 0.45);
  @extend .flex-column;
}

.top-stock h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.plus {
  color: #fff;
}

.s-text p {
  margin: 5px 0;
  text-align: center;
  color: #0182d0;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

p.end-akcia {
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-top: 25px;
}

.btn-order, .btn-ord {
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  background-color: #1c75bb;
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 20px;
}

.btn-order:hover,
.btn-ord:hover {
  transition: all 0.5s linear;
  background-color: #084366;
}

.btn-order:active,
.btn-ord:active {
  background-color: #255a66;
}

/*TOP FORM END*/

/*TIMER BEGIN*/
#CDT {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;

}

#CDT .number-wrapper {
  margin: 10px;
  box-shadow: 0 5px 8px #000000;
  position: relative;
}

#CDT .number {
  display: inline-block;
  background: #000;
  background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
  border-radius: 7px;
  background-clip: padding-box;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid #555;
  box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 3px 3px #000000;
}

#CDT .line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 52%;
  left: 0;
  background: #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.caption {
  font-size: 20px;
  position: absolute;
  bottom: -40px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
}

/*TIMER END*/

/*TOP_GALLERY BEGIN*/

.gallery-text {
  text-align: center;
  font-size: 16px;
  text-transform: none;

}

#showroom .owl-carousel,
#comments .owl-carousel {
  margin: 30px 0;
  position: relative;

  .owl-nav {
    margin: 0;
    color: #37ace5 !important;

    .owl-prev,
    .owl-next {
      display: inline-block;
      position: absolute;
      top: 40%;
      font-size: 32px;
      color: #37ace5;
    }

    .owl-prev {
      left: -20px;
    }

    .owl-next {
      right: -20px;
    }

    .owl-prev:hover,
    .owl-next:hover{
      color: #177daf;
      transition: all 0.5s;
    }

  }

  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c0d6e8;
    border-radius: 5px;
    margin: 15px 5px;
  }

  .owl-dot.active {
    background-color: #37ace5;
  }

}

/*TOP_GALLERY END*/

/*ABOUT DAIKIN BEGIN*/

.bg-about-daikin {
  background: #00407d url(../img/bg-about-daikin.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.about-daikin ul {
  margin: 40px 0;

  figure {
    margin: 0;
    text-align: center;

    img {
      border: 5px solid #fff;
    }

    figcaption {
      color: #fff;
      text-align: center;
      font-family: "Open Sans Regular", sans-serif;
      text-transform: uppercase;
      font-weight: bold;

    }

  }

}

//about-daikin

/*ABOUT DAIKIN END*/

/*PRODUCTION BEGIN*/

.production ul {
  margin: 0;
  margin-top: 50px;
  @extend .flex-row;
  justify-content: space-between;

  li {
    margin-bottom: 100px;
  }

}

.prod-name p {
  background-color: #32b0eb;
  color: #fff;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.production figure {
  text-align: center;
  margin: 0;
  border: 2px solid #32b0eb;

}

.prod-description {
  margin: 0;
  padding-bottom: 20px;
  background-color: #15171c;

  h3 {
    margin: 0;
    padding: 20px 0;
    font-family: "Open Sans Regular", sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans Light", sans-serif;
    color: #fff;
  }

}

/*PRODUCTION END*/

/*FORM PRICE BEGIN*/

.bg-form-price {
  background: #fff url(../img/bg-price-form.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.form-price {

  .form {
    margin-bottom: 40px;

    button {
      width: 250px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      border: none;
      outline: none;
      background-color: #ffffff;
      width: 250px;
      color: #004481;
      font-size: 16px;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 5px;
    }

    ::-webkit-input-placeholder {
      color: #004481;
    }
    ::-moz-placeholder {
      color: #004481;
    }
    /* Firefox 19+ */
    :-moz-placeholder {
      color: #004481;
    }
    /* Firefox 18- */
    :-ms-input-placeholder {
      color: #004481;
    }

  }

}

/*FORM PRICE END*/

/*POINTS BEGIN*/

.bg-points {
  background: #2f688c url(../img/bg-point-daikin.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.points {

  padding-bottom: 100px;

  ul {
    margin: 0;
    @extend .flex-row;
    justify-content: space-between;

    li {
      margin-top: 70px;
    }

  }

  figure {
    margin: 0;
    text-align: center;

    img {
      border: 2px solid #fff;
      vertical-align: top;
    }

    figcaption {
      background-color: #fff;
      text-align: center;
      color: #333;
      font-size: 18px;
      padding: 5px 0;
    }

  }

}

/*POINTS END*/

/*WHY WE BEGIN*/

.why-we {

  ul {

    margin: 50px 0;

    li {

      h3 {
        color: #1c75bb;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        margin: 5px 0;
      }

      p {
        font-size: 18px;
        color: #333333;
        margin: 0;
      }

    }

    .li-odd {
      float: right;
    }
  }
}//why-we

/*WHY WE END*/

/*WORK CLIENT BEGIN*/

.work-client {

  ul {
    margin: 0;
    margin-bottom: 100px;

    li {
      margin-top: 70px;
    }
  }
}

.num {
  display: inline-block;
  float: left;
  margin: 0;
  margin-right: 10px;
  background-color: #3cb9bb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;

  span {
    position: absolute;
    top: 7px;
    right: -5px;
    font-size: 72px;
    color: #fff;
    font-weight: bold;
  }

}

.text {

  p {
    margin: 0;
    font-size: 14px;
  }
}

/*WORK CLIENT END*/

/*COMMENT BEGIN*/
.bg-comment {
  background: #36b1b9 url(../img/bg-comment.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#comments {

  .comment {
    padding-bottom: 50px;
  }

  .owl-prev,
  .owl-next {
    color: #FFFFFF !important;
  }

  .owl-prev:hover,
  .owl-next:hover {
    color: #a5d0f5 !important;
    transition: all 0.5s;
  }

  .comment__total {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  }

  .comment__total:before {
    content: ' ';
    display: inline-block;
    width: 66px;
    height: 69px;
    margin-top: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 1px rgba(28, 117, 187, 0.7);
    -moz-box-shadow: 0 0 10px 1px rgba(28, 117, 187, 0.7);
    box-shadow: 0 0 10px 1px rgba(28, 117, 187, 0.7);
  }

  .img1:before {
    background: transparent url(../img/foto-people-1.png) 0 0 no-repeat;
  }

  .img2:before {
    background: transparent url(../img/foto-people-2.png) 0 0 no-repeat;
  }

  .img3:before {
    background: transparent url(../img/foto-people-3.jpg) 0 0 no-repeat;
  }

  .img4:before {
    background: transparent url(../img/foto-people-4.jpg) 0 0 no-repeat;
  }

  .com-text {
    font-style: italic;
    margin: 0;
    padding: 20px 40px;
    font-size: 16px;
    color: #333333;
  }

  .com-name {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    padding-bottom: 30px;
  }

}

//#comments

/*COMMENT END*/

.bg-bottom-form {
  background-color: #000;
  opacity: 0.8;
}

/*FOOTER BEGIN*/

.ymaps {
  width: 1300px;
  height: 500px;
}

.bg-footer {
  position: relative;
  padding: 0;
  margin: 0;
}

.bottom-contact {
  position: absolute;
  top: 85px;
  background-color: #3e3832;
  opacity: 0.9;
  border-radius: 5%;
  text-align: center;

  img {
    padding-top: 15px;
  }

  .footer-contacts {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;

    p.name {
      font-family: "Open Sans Regular", sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      color: #0094d3;
      font-weight: bold;
    }

    .adress-phone{

      a{
        color: #FFFFFF !important;
      }

    }


  }

}

/*FOOTER END*/

/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width: 1200px) {

  #CDT {
    font-size: 14px;
  }

  .caption {
    font-size: 12px;
  }

  #CDT .number-wrapper {
    margin: 3px;
  }

  .production img {
    width: 100%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

  .top-menu {
    li {
      margin: 0 13px !important;
    }

  }//top-menu

  .text {
    p{
      font-size: 14px;
    }
  }

}

/*=============================================*/

@media only screen and (min-width: 1024px) {

  .why-we h3,
  .why-we p {
    text-align: left;
  }
  .why-we p.d-d-p {
    text-align: center;
  }
  .li-even,
  .li-odd {
    margin-bottom: 0;
  }

  .ymaps{
    margin: 0;
    padding: 0;
    width:100%;
    height:500px;
  }


}

/*=============================================*/

@media only screen and (max-width: 1024px) {
  .text {
    p{
      font-size: 12px;
    }
  }
}
/*=============================================*/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  .daikin-white h2,
  .daikin-dark h2 {
    padding-top: 80px;
  }

  .about-daikin {

    ul {

      margin-top: 40px;

      li {
        margin-bottom: 40px;
      }

      li:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

  } //about-daikin


  .why-we {

    h3 {
      font-size: 18px !important;
    }
    p {
      font-size: 16px !important;
    }

    .li-even,
    .li-odd {
      margin-bottom: 40px;
    }

  }
  //why-we

  .ymaps{
    width: 100%;
  }

  .text {
    p{
      font-size: 14px;
    }
  }

}

/*=============================================*/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  .navbar-toggle {
    float: left;
  }

  .top-logo {
    ul {
      flex-direction: column;
    }
  }

  .top-nav {

    a {
      font-size: 14px;
      padding: 10px !important;
    }
  }

  .top-img {
    margin-top: 10px;
  }

  .slogan {
    margin: 20px 0;
  }

  .production ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form {
    div {
      margin-bottom: 20px;
    }
  }

  .points ul {
    flex-direction: column;
    align-items: center;
  }

  .why-we {
    .li-even,
    .li-odd {
      margin-bottom: 0;
    }

  }

  .ymaps{
    width: auto;
  }

}

/*=============================================*/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  #CDT {
    font-size: 10px;
  }

  .caption {
    font-size: 10px;
  }

  #CDT .number-wrapper {
    margin: 1px;
  }

  .top-name {
    text-align: center;

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 24px;
    }
  }

  .production img {
    width: 255px;
  }

  .points img {
    width: 100%;
  }

  .why-we {

    h3 {
      font-size: 14px !important;
    }

    h3:before {
      margin-right: 0 !important;
    }

    p {
      font-size: 12px !important;
    }

    li {
      margin-bottom: 20px !important;
    }
  }
  //why-we

  .form-text {
    input {
      width: 100% !important;
    }
    h2 {
      font-size: 26px !important;
    }

    b {
      font-size: 24px;
    }
  }
  //form-text

  .ymaps{
    display: none;
  }

  .bottom-contact{
    max-width: 100%;
    top: 0;
    border-radius: 0;
  }

  .bottom-contact img{
    width: 200px;
  }

}

/*=============================================*/

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}




